header{
  background-color: rgba(37, 69, 128, 0.9);
  /* rgba(59, 72, 96, 0.9) */
  height: 30px;
  margin: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}
body{
  background-image: url("../resources/fondo2.jpg");
  background-repeat: round;
  height: 100%;
  margin: 0;
  min-width: 500px;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: #627180;
} a:hover{
  color: #ffffff;
}
.HeaderA{
  color: #627180;
}
article{
  margin: 0 5%;
  padding: 5%;
  background-color: rgba(19, 19, 19, 0.3);
  border-radius: 5px;
  height: 100%;
}
footer{
  margin: 0 5%;
  padding: 25px;
  height: 10px;
  background-color: rgba(32, 32, 32, 0.8);
}
hr{
width: 200px;
}
#logo{
  width: 30px;
  margin-left: 5%;
}
#dmenu{
  float: right;
  margin-right: 15px;
  color: #000000;
}
.separador{
  display: inline;
  margin: 0;
}
#title{
  display: inline;
  font-size: 20px;
  margin-left: 2px;
}.txtFooter{
  margin: 0;
  line-height: 20px;
}
.divEj{
  margin: auto;
  width: 700px;
  padding: 10px;
  background-color: rgba(157, 157, 157, 0.4);
  /* border-radius: 5px; */
  /* border: black solid 2px; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: url("../resources/fondo.png");
  background-repeat: space;
}
.imgEj{
  width: 250px;
}
.titleEj{
  /* border: black solid 2px; */
  color: #d1fffe;
  margin: auto;
  background-color: rgba(0, 56, 255, 0.5);
  width: 715px;
  /* border-radius: 5px; */
  /* border-radius: 5px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}
.divGeneralEj{
  margin: auto;
  margin-top: 20px;
  /* border: solid black 2px; */
}
